/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */

.legend-wrapper {
    background: rgba(255, 255, 255, 0.8);

    // margin-right: 20px;
    overflow: auto;
    border: #ababab 1px;
    border-radius: 3px;
    z-index: 1;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: $card-padding;
}

.legend {
    height: 300px;
    width: 350px;
}

#timeslider {
    display: flex
}

.labels {
    padding-bottom: 20px;
    font-size: 80%;
}

.grow {
    flex-grow: 1;
}

#slider {
    width: 100%
}

#timeslide-min {
    float: left;
}

#timeslide-max {
    float: right;
}

#download_gif_spinner, .timeslide-control {
    width: 24px;
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.timeslide-control:hover {
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}

#year {
    // position: absolute;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
    // text-align: center;
    // font-weight: bold;
}

// legend
#legend-bar {
    height: 15px;
    width: 100%;
    background: linear-gradient(to right, #80BCFF, #1A5FAC);
    margin-bottom: 5px;
}

#legend-min {
    float: left;
}

#legend-max {
    float: right;
}

.scale-legend {
    height: 82px;
}

// https://tilemill-project.github.io/tilemill/docs/guides/advanced-legends/
.discrete-legend {
    overflow: auto;
}

.my-legend .discrete-legend ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style: none;
    width: 100%;
    display: flex;
}

.my-legend .discrete-legend ul li {
    display: block;
    float: left;
    width: auto;
    margin-bottom: 6px;
    text-align: center;
    font-size: 80%;
    list-style: none;
    flex: 1;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 15px;
    width: 100%;
}

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
}

.my-legend a {
    color: #777;
}

.rotate-down {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.rotate {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#pd {
    height: 60px;
}
