$card-padding: 20px;

@import "legend";

@import url("./nunito.css");


* {
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0px;
    height: 100%;
    font-family: 'Nunito', sans-serif !important;
}

.map {
    height: calc(100vh - 56px);
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.n {
    color: #FF4136;
}

.r {
    color: #2ECC40;
}

.w {
    color: #ffffff;
}

input[type=color] {
    height: 20px;
    width: 100%;
}

#dual_map {
    border-left: .15vw solid black;
}

#split_map {
    position: absolute;
    top: 0;
    left: 0;
}

.no-margin-bottom {
    margin-bottom: 0px;
}

.dropdown-menu {
    padding: $card-padding !important;
}

#transparency-slider {
    width: 100%;
}

.right-middle {
    vertical-align: middle;
    float: right;
}

.dropdown-toggle::after {
    display: none !important;
}

@media (max-device-width: 400px) {
    #custom_csv_input {
        max-width: 270px;
    }
}

.btn-outline-primary {
    white-space: unset !important;
}

.navbar-collapse.collapse.show { max-height: 100vh !important; overflow-y: scroll !important; overflow-x: hidden !important; }

.button-info-container {
    display: inline-flex !important;
}

.classification-info {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

i, .dropup {
    cursor: default;
}

#logo {
    cursor: pointer;
}