@import "map-overlays";
@import url('https://fonts.googleapis.com/css?family=Nunito|Material+Icons');


body {
  position: relative;
  margin: 0px;
  height: 100%;
  font-family: 'Nunito', sans-serif !important;
}

.map {
  height: 100vh;
}

h2, h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

.hero-webgisnrw {
  font-weight: bold;
  text-align: center;
}

.n {
  color: #FF4136
}

.r {
  color: #2ECC40
}

.w {
  color: #B8B8B8
}

button i {
  vertical-align: middle;
}

.btn-group {
  display: flex;
  flex-direction: row;
}

.btn-group > button {
  width: 100%;
}

input[type=color] {
  height: 20px;
}

#split_map {
  height: 100vh;
  border-left: .15vw solid black;
}