body {
  position: relative;
  margin: 0px;
  height: 100%;
  font-family: 'Nunito', sans-serif;
}

.map {
  height: 100vh;
}

h2, h3 {
  margin: 10px;
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

p {
  font-size: 0.85em;
  margin: 10px;
  text-align: left;
}

.hero-webgisnrw {
  font-weight: bold;
  text-align: center;
}

.n {
  color: #FF4136
}

.r {
  color: #2ECC40
}

.w {
  color: #B8B8B8
}

/**
* Set rules for how the map overlays
* (info box and legend) will be displayed
* on the page. */

.map-overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);;
  margin-right: 20px;
  overflow: auto;
  border-radius: 3px;
}

#functions {
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 20px;
  // width: 250px;
  padding: 15px;
}

#features {
  top: 0;
  right: 0;
  height: 100px;
  margin-top: 20px;
  width: 250px;
}

#timeslider {
  bottom: 0;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  // height: 80px;
  width: 50vw;
  padding: 20px;
}

.legend-key {
  display: inline-block;
  border-radius: 20%;
  width: 10px;
  height: 10px;
  margin-right: 5px;
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}
